/.gradle
/.gradle
/.gradle
/.gradle/buildOutputCleanup
*.lock
/.idea
/fabric/build
/fabric/.gradle
/common/build
/forge/.gradle
/.gradle/8.12.1
/forge/build
/common/run
/fabric/run
/forge/run
/common/.gradle
*.hprof
